*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;}
html{scroll-behavior:smooth;}
a{text-decoration:none;color:#000;}
@media screen and (max-width:768px){
    main{margin-top:20px;margin-bottom:200px;}
    .ms-cd-fixed-navbar{width:100%;background-color:#fff;height:80px;position:fixed;bottom:0;box-shadow:0px -1px 11px rgba(0, 0, 0, 0.25);}
    .ms-cd-fixed-navbar-col{display:flex;height:inherit;position:relative;}
    .ms-cd-fixed-navbar-col-row-1,.ms-cd-fixed-navbar-col-row-2,.ms-cd-fixed-navbar-col-row-3{width:33.33%;height:inherit;}
    .ms-cd-fixed-navbar-col-row-1 p,.ms-cd-fixed-navbar-col-row-2 p,.ms-cd-fixed-navbar-col-row-3 p{background-color:#fff;padding:15px;border-radius:50%;}
    .ms-cd-fixed-navbar-col-row-1 p:hover,.ms-cd-fixed-navbar-col-row-2 p:hover,.ms-cd-fixed-navbar-col-row-3 p:hover{background-color:#00AE3F;box-shadow:1px 4px 11px rgba(0, 0, 0, 0.25);transition:.5s ease-out;}
    .ms-cd-fixed-navbar-col-row-1 p:hover a,.ms-cd-fixed-navbar-col-row-2 p:hover a,.ms-cd-fixed-navbar-col-row-3 p:hover a{color:#fff;}
    .ms-cd-fixed-navbar-col-row-1 p i,.ms-cd-fixed-navbar-col-row-2 p i,.ms-cd-fixed-navbar-col-row-3 p i{font-size:23px;}
    .ms-cd-fixed-navbar-col-row-1 p a,.ms-cd-fixed-navbar-col-row-2 p a,.ms-cd-fixed-navbar-col-row-3 p a{color:#00AE3F;}
    .ms-cd-fixed-navbar-col-row-1,.ms-cd-fixed-navbar-col-row-2,.ms-cd-fixed-navbar-col-row-3{display:flex;align-items:center;justify-content:center;}
    .ms-cd-fixed-navbar-col-row-1 p.addBg{background-color:#00AE3F;padding:15px 14px;}
    .ms-cd-fixed-navbar-col-row-1 p a.addColor{color:#fff;}
    .hd-ns-gd-sj{width:95%;margin:0 auto;}
    .add-friends-hf-sf-hv{border-bottom:2px solid #008000;padding-bottom:10px;}
    .add-friends-hf-sf-hv{display:flex;justify-content:space-between;align-items:center;}
    .add-friends-hf-sf-hv p:first-child{font-family:'Inter';font-weight:700;font-size:25px;color:#008000;}
    .add-friends-hf-sf-hv p:last-child i{font-size:35px;color:#008000;}
    .hd-js-jg{margin-top:10px;}
    .hd-js-jg p{font-family:'Raleway';font-size:19px;font-weight:600;text-transform:capitalize;}
    .sug-friend{margin-top:20px;}
    .friend-one{display:flex;align-items:center;}
    .friend-one .friend-img{max-width:69px;}
    .friend-one .friend-img img{max-width:100%;border-radius:50%;}
    .friend-one .friend-detail{margin-left:10px;}
    .friend-one .friend-detail p{font-family:'Inter';font-size:22px;font-weight:600;margin-bottom:7px;}
    .friend-one .friend-detail .acc-rem{margin-top:7px;}
    .friend-one .friend-detail .acc-rem button{padding:5px 15px;font-size:19px;font-weight:600;font-family:'Raleway';border:none;border-radius:5px;line-height:22.5px;}
    .friend-one .friend-detail .acc-rem button:first-child{background-color:#00AE3F;color:#fff;}
    .friend-one .friend-detail .acc-rem button:last-child{margin-left:10px;background-color:rgba(128, 128, 128, 0.3);color:#000;}

    .friend-two{display:flex;align-items:center;margin-top:15px;}
    .friend-two .friend-img{max-width:69px;}
    .friend-two .friend-img img{max-width:100%;border-radius:50%;}
    .friend-two .friend-detail{margin-left:10px;}
    .friend-two .friend-detail p{font-family:'Inter';font-size:22px;font-weight:600;margin-bottom:7px;}
    .friend-two .friend-detail .acc-rem{margin-top:7px;}
    .friend-two .friend-detail .acc-rem button{padding:5px 15px;font-size:19px;font-weight:600;font-family:'Raleway';border:none;border-radius:5px;line-height:22.5px;}
    .friend-two .friend-detail .acc-rem button:first-child{background-color:#00AE3F;color:#fff;}
    .friend-two .friend-detail .acc-rem button:last-child{margin-left:10px;background-color:rgba(128, 128, 128, 0.3);color:#000;}

}