*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;}
html{scroll-behavior:smooth;}
a{text-decoration:none;color:#fff;}
@media screen and (max-width:768px){
    .ms-cd-fixed-top-navbar{width:100%;background-color:#fff;height:80px;position:fixed;bottom:0;top:0;box-shadow:0px -1px 11px rgba(0, 0, 0, 0.25);}
    .ms-cd-fixed-top-navbar-col{display:flex;height:inherit;position:relative;}
    .ms-cd-fixed-bottom-navbar{width:100%;background-color:#fff;height:70px;position:fixed;bottom:0;box-shadow:0px -1px 11px rgba(0, 0, 0, 0.25);}
    .ms-cd-fixed-bottom-navbar-col{height:inherit;position:relative;width:95%;margin:0 auto;}
    .ms-cd-fixed-bottom-navbar-col{display:flex;align-items:center;}
    .ms-cd-fixed-bottom-navbar-col form{display:flex;align-items:center;justify-content:center;width:100%;}
    .ms-cd-fixed-bottom-navbar-col form textarea{width:80%;padding:5px;background-color:rgba(128, 128, 128, 0.1);border-radius:6px;border:none;font-family:'Raleway';font-weight:400;font-size:16px;margin-right:8px;}
    .ms-cd-fixed-bottom-navbar-col form button{width:20%;margin-left:8px;border:none;background-color:transparent;}
    .ms-cd-fixed-bottom-navbar-col form button i{font-size:33px;color:rgba(0, 128, 0, 0.8);}
    .ms-cd-fixed-bottom-navbar-col form textarea{height:40px;resize:none;}
}