*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{width:100%;font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;scroll-behavior:smooth;}
html{scroll-behavior:smooth;}
a{text-decoration:none;color:#000;}
@media screen and (max-width:768px){
    main{margin-top:20px;margin-bottom:200px;}
    .ms-cd-fixed-navbar{width:100%;background-color:#fff;height:80px;position:fixed;bottom:0;box-shadow:0px -1px 11px rgba(0, 0, 0, 0.25);}
    .ms-cd-fixed-navbar-col{display:flex;height:inherit;position:relative;}
    .ms-cd-fixed-navbar-col-row-1,.ms-cd-fixed-navbar-col-row-2,.ms-cd-fixed-navbar-col-row-3{width:33.33%;height:inherit;}
    .ms-cd-fixed-navbar-col-row-1 p,.ms-cd-fixed-navbar-col-row-2 p,.ms-cd-fixed-navbar-col-row-3 p{background-color:#fff;padding:15px;border-radius:50%;}
    .ms-cd-fixed-navbar-col-row-1 p:hover,.ms-cd-fixed-navbar-col-row-2 p:hover,.ms-cd-fixed-navbar-col-row-3 p:hover{background-color:#00AE3F;box-shadow:1px 4px 11px rgba(0, 0, 0, 0.25);transition:.5s ease-out;}
    .ms-cd-fixed-navbar-col-row-1 p:hover a,.ms-cd-fixed-navbar-col-row-2 p:hover a,.ms-cd-fixed-navbar-col-row-3 p:hover a{color:#fff;}
    .ms-cd-fixed-navbar-col-row-1 p i,.ms-cd-fixed-navbar-col-row-2 p i,.ms-cd-fixed-navbar-col-row-3 p i{font-size:23px;}
    .ms-cd-fixed-navbar-col-row-1 p a,.ms-cd-fixed-navbar-col-row-2 p a,.ms-cd-fixed-navbar-col-row-3 p a{color:#00AE3F;}
    .ms-cd-fixed-navbar-col-row-1,.ms-cd-fixed-navbar-col-row-2,.ms-cd-fixed-navbar-col-row-3{display:flex;align-items:center;justify-content:center;}
    .ms-cd-fixed-navbar-col-row-1 p.addBg{background-color:#00AE3F;padding:15px 14px;}
    .ms-cd-fixed-navbar-col-row-1 p a.addColor{color:#fff;}
    .df-vb-he-gr a i{color:#000;font-size:24px;}
    .df-vb-he-gr{width:95%;margin:0 auto;}
    .mf-jd-dh-sa{width:95%;margin:15px auto 0;}
    .user-name-mf-ks p{font-family:'Poppins';font-size:18px;font-weight:400;color:#00AE3F;}
    .user-name-mf-ks p span{font-weight:600;}
    .user-img-gd-nc-hs{max-width:200px;min-height:200px;margin-top:15px;}
    .user-img-gd-nc-hs img{max-width:100%;min-height:inherit;border-radius:50%;}
    .ud-ms-md p{font-family:'Poppins';font-weight:700;font-size:22px;}
    .hd-sj-nc-sb{display:flex;align-items:center;justify-content:space-between;margin-top:20px;padding-bottom:20px;border-bottom:1px solid #000;}
    .message-option-jf-nc{display:flex;align-items:center;}
    .message-option-jf-nc button{padding:4px 25px;border:none;border-radius:5px;font-family:'Poppins';font-weight:700;font-size:18px}
    .message-option-jf-nc button:first-child{margin-right:8px;background-color:#00AE3F;color:#fff;}
    .message-option-jf-nc button:last-child{margin-left:8px;background-color:rgba(128, 128, 128, 0.3);color:rgba(0, 0, 0, 0.7);}
    .dot-dot-dot p i{font-size:35px;}
    .nc-hf-bc-jf{margin-top:15px;}
    .vx-nv-jf-rf{display:flex;}
    .vx-nv-jf-rf button{width:33.33%;margin:0 9px;background-color:rgba(128, 128, 128, 0.3);border-radius:5px;border:none;
    font-family:'Poppins';font-weight:700;font-size:18px;padding:4px 0;}
    .vx-nv-jf-rf button:first-child{margin-left:0px;}
    .vx-nv-jf-rf button:last-child{margin-right:0px;}
}